<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory >
  <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
  <property name="hibernate.connection.url">jdbc:oracle:thin:@127.0.0.1:1521:YMDB</property>
  <property name="hibernate.dialect">org.hibernate.dialect.Oracle9iDialect</property>
  <property name="hibernate.connection.username">YM</property>
  <property name="hibernate.connection.password">admin</property>
  <property name="hibernate.format_sql">true</property>
  <property name="hibernate.hbm2ddl.auto">create</property>
  <property name="hibernate.show_sql">true</property>
  
  <mapping resource="com/CCL/beans/BicycleType.hbm.xml"/>


 
  <mapping resource="com/CCL/beans/Bill.hbm.xml"/>
  <mapping resource="com/CCL/beans/Customer.hbm.xml"/>
  <mapping resource="com/CCL/beans/CustomerState.hbm.xml"/>
  <mapping resource="com/CCL/beans/CustomerType.hbm.xml"/>
  <mapping resource="com/CCL/beans/Opeper.hbm.xml"/>
  <mapping resource="com/CCL/beans/OrderState.hbm.xml"/>
  <mapping resource="com/CCL/beans/OpeUser.hbm.xml"/>
  <mapping resource="com/CCL/beans/Order.hbm.xml"/>

    <mapping resource="com/CCL/beans/Bicycle.hbm.xml"/>
   <mapping resource="com/CCL/beans/BicycleState.hbm.xml"/>
    <mapping resource="com/CCL/beans/Customer.hbm.xml"/>
  <mapping resource="com/CCL/beans/CustomerState.hbm.xml"/>
  <mapping resource="com/CCL/beans/CustomerType.hbm.xml"/>
 </session-factory>
</hibernate-configuration>
